%h1= @collection.title unless @collection.title.empty?
%h2= "Original Text"
.text
  = @collection.description
  .count
    = "Number of words: "
    = @collection.description.count_words
%h2= "Processed text: Stop Words Removal, Lemmatization, POS Tagging, Term Frequency"
.text
  = @processed_text
  .count
    = "Number of words: "
    = @processed_text.each_value.to_a.size