%h1= @comment.user
%h2= "Original Text"
.text
  = @comment.description
  .count
    = "Number of words: "
    = @comment.description.count_words
%h2= "Stop Words Removal and Lemmatization"
.text
  = @comment.lemma
  .count
    = "Number of words: "
    = @comment.lemma.split.size
%h2= "Duplicates Removal"
.text
  = @comment.lemma.split.uniq
  .count
    = "Number of words: "
    = @comment.lemma.split.uniq.size
.text
  = link_to "Information about POS Tags", 'http://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html'
%h2= "Dictionary of #{@comment.class}"
.text
  = $dictionary
  .count
    = "Number of words: "
    = $dictionary.size
%h2= "Document Vector of this #{@comment.class}"
.text
  - @comment.document_vector.each do |value|
    = "| #{value} "
  = "|"
