%h1= @comment.user
%h2= "Original Text"
.text
  = @comment.message
%h2= "Text after stop words removal"
.text
  = remove_stop_words_of(@comment.message)
%h2= "Text after pos tagging"
.text
  = tokenize_pos_tagging_of(remove_stop_words_of(@comment.message))