%h1 Listing term_matrices

%table
  %tr
    %th Term
    %th Term
    %th
    %th
    %th

  - @term_matrices.each do |term_matrix|
    %tr
      %td= term_matrix.term_id
      %td= term_matrix.term
      %td= link_to 'Show', term_matrix
      %td= link_to 'Edit', edit_term_matrix_path(term_matrix)
      %td= link_to 'Destroy', term_matrix, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Term matrix', new_term_matrix_path
