%h1 Term Document Matrix

= "Dictionary Size: #{@dictionary_tokens.size}"
%table
  %tr
  - @dictionary_tokens.each_index do |i|
    %th= i
  %tr
  - @dictionary_tokens.each do |dict|
    %th= dict
  - @collections.each do |collection|
    %tr
    - collection.document_vector(@dictionary).each do |value|
      %td= value