%h1= "Term Document Matrix"
= "Dictionary Size: #{$dictionary.size}"
%table
  %tr
    %td
    - $dictionary.each do |key, value|
      %td
        %strong= key
        %br
        = value[0]
        %br
        = value[1]
  - @vectors.each do |vector|
    %tr
      %td
      - vector.each do |value|
        %td= value