%h1= @contribution.title
%h2= "Original Text"
.text
  = @contribution.description
  .count
    = "Number of words: "
    = @contribution.description.count_words
%h2= "Stop Words Removal and Lemmatization"
.text
  = @contribution.lemma
  .count
    = "Number of words: "
    = @contribution.lemma.split.size
%h2= "Duplicates Removal"
.text
  = @contribution.lemma.split.uniq
  .count
    = "Number of words: "
    = @contribution.lemma.split.uniq.size
.text
  = link_to "Information about POS Tags", 'http://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html'
%h2= "Dictionary of #{@contribution.class}"
.text
  = $dictionary
  .count
    = "Number of words: "
    = $dictionary.size
%h2= "Document Vector of this #{@contribution.class}"
.text
  - @contribution.document_vector.each do |value|
    = "| #{value} "
  = "|"
