%h1= @challenge.title
%h2= "Original Text"
.text
  = @challenge.description
%h2= "Text after stop words removal"
.text
  = @challenge.stop_words
  .count
    = "Number of words: "
    = @challenge.stop_words.count_words
%h2= "Text after lemmatization and downcasing"
.text
  = @challenge.lemma.join(' ')
  .count
    = "Number of words: "
    = @challenge.lemma.size
%h2= "Text after pos tagging"
.text
  = @challenge.pos_tags
  .count
    = "Number of words: "
    = @challenge.pos_tags.size
.text
  = link_to "Information about POS Tags", 'http://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html'
%h2= "Dictionary of #{@challenge.class} (removed all duplicates)"
.text
  = @dictionary.create_dictionary
%h2= "Document Vector of this #{@challenge.class}"
.text
  - @challenge.document_vector.each do |value|
    = "| #{value} "
  = "|"
